@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Poppins&display=swap");
@font-face {
  font-family: Poppins;
  src: url(../Assets/Fonts/Poppins/Poppins-Regular.ttf);
}
html {
  font-size: 62.5%;
}

a {
  color: aquamarine;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background: rgba(255, 255, 255, 0.342);
}

.header {
  padding: 0 4.8rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  height: 4.5rem;
  width: 4.5rem;
}

.navbar-list {
  display: flex;
  gap: 4.8rem;
  list-style: nones;
  list-style: none;
}

#footer {
  background-color: red;
  color: white;
  margin-top: auto;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 1.83rem;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: darkblue;
}

.btn {
  border-radius: 3rem;
  padding: 1.5rem;
  background-color: black;
  color: white;
}

.front {
  height: 80vh;
  margin: 7rem 15rem;
  padding: 5px;
}
.front .fleft {
  width: 40%;
  float: left;
  font-size: 3.2rem;
  margin-top: 7rem;
}
.front .fleft p {
  font-size: 20px;
}
.front .fleft .btn {
  padding: 10px 30px;
}
.front .fright {
  width: 40%;
  float: right;
  position: relative;
}
.front .fright video {
  height: 500px;
}

.type {
  font-family: "Leckerli One", cursive;
  color: orange;
  font-weight: 700;
}

.about {
  height: 100vh;
  width: 100vw;
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #ffffff;
}
.about .Aleft {
  float: left;
  width: 40%;
}
.about .Aright {
  float: right;
  width: 40%;
  margin-right: 20rem;
}
.about .Aright h2 {
  font-size: 48px;
}
.about .Aright p {
  font-size: 16px;
}
.about .Aright .grey {
  color: grey;
  font-size: 14px;
}

.roadmap {
  height: 100vh;
  width: 100vw;
}
.roadmap p {
  font-size: 60px;
  color: black;
  font-weight: 600;
  text-align: center;
  display: block;
  margin-top: 200px;
  margin-bottom: -60rem;
}

.nft-icon {
  height: 200px;
}

.trendSection {
  width: 100vw;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: absolute;
  overflow-x: auto;
}

.trendSection::-webkit-scrollbar {
  width: 10px;
  border-radius: 2px;
}

.trendSection::-webkit-scrollbar-thumb {
  background-color: #6eb1b1;
}

.trendSection::-webkit-scrollbar-track {
  background-color: rgb(198, 231, 231);
}

.nftCard {
  min-width: 325px;
  background-color: #ffffff;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 17px;
  position: relative;
  height: 300px;
}

.card1 {
  margin-left: 15px;
}

.buyButton {
  margin: auto;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 100%;
  justify-content: center;
  height: 39px;
}

.buyBtn {
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 17px 17px;
  background-color: rgb(204, 165, 241);
  font-weight: bold;
  font-size: 16px;
}

.nftName {
  font-size: 24px;
  font-weight: bolder;
  color: #7e7777;
}

.price {
  font-size: 22px;
  font-weight: bold;
  color: #7e7777;
}

.slide-container {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.image-slider {
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.slides-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}

.img {
  position: relative;
  width: 240px;
  height: 370px;
  transition: 0.5s;
}

.button {
  position: absolute;
  width: 240px;
  height: 370px;
  transition: 0.5s;
  background-color: rgba(91, 91, 208, 0);
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1 {
  width: 380px;
  height: 585px;
  background-color: transparent;
}

#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2 {
  width: 380px;
  height: 585px;
  background-color: transparent;
}

#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3 {
  width: 380px;
  height: 585px;
  background-color: transparent;
}

#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4 {
  width: 380px;
  height: 585px;
  background-color: transparent;
}

#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~ .image-slider #button-5 {
  width: 380px;
  height: 585px;
  background-color: transparent;
}

#slider-span6:target ~ .image-slider #img6,
#slider-span6:target ~ .image-slider #button-6 {
  width: 380px;
  height: 585px;
  background-color: transparent;
}

#slider-span7:target ~ .image-slider #img7,
#slider-span7:target ~ .image-slider #button-7 {
  width: 380px;
  height: 585px;
  background-color: transparent;
}

#slider-span1:target ~ .image-slider {
  left: 20%;
}

#slider-span2:target ~ .image-slider {
  left: 0%;
}

#slider-span3:target ~ .image-slider {
  left: -20%;
}

#slider-span5:target ~ .image-slider {
  left: -20%;
}/*# sourceMappingURL=Style.css.map */